.button-container {
  display: flex;
  align-items: center; /* Align all buttons vertically */
  justify-content: space-between;
  margin-top: 8px;
}

.half-button {
  flex: 1; /* These buttons take equal space */
  margin: 0 5px;
}

