<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Náhodný dad joke
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Náhodný dad joke</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ joke }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-subtitle>
      <div class="button-container">
        <ion-button expand="block" class="half-button" (click)="getNewJoke()">Generate New Joke</ion-button>
        <ion-button> <ion-icon name="star"></ion-icon></ion-button>
        <ion-button (click)="copyToClipboard()">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
  </ion-card>
</ion-content>
